.day {
  background-color: var(--grey);
  height: 20px;
  width: 22px;
  border-radius: 2px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@media (max-width: 1675px) {
  .calendar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .calendar {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .calendar {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .month {
    scroll-snap-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
