.login,
.register {
    animation: slideRight 0.4s ease-in-out;
}

.login-form, .register-form, .resetpassword-form, .updatepassword-form
{
    width: 340px;
    padding: 30px;
    border-radius: 20px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        transform: translateX(-150%);
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .login, .register, .reset-password, .update-password
    {
        width: 360px;
    }
}