.anime {
    animation: moveUp 0.5s ease-out forwards;
    position: relative;
    animation-delay: 4s;
    color: var(--lightestgreen);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-200px);
        display: none;
    }
}